<%- include('../partials/layout-start.ejs') %>
<%- include('../partials/menu.ejs') %>
    <div class="container">
        <div>
            <h1>Профиль пользователя</h1>
            <p><span>Имя</span>: <span><%= user.name%></span></p>
            <p><span>Фамилия</span>: <span><%= user.surname%></span></p>
        </div>
    </div>
<%- include('../partials/layout-end.ejs') %>
